body {
    font-family: Inconsolata;
    background-color: #EEEEEE;
}

p, a {
    font-size: 16px;
}

#content {
    width: 430px;
    text-align: center;
    padding-top: 40vh;
    margin: 0 auto;
}

.about_text {
    text-align: justify;
}
